<template>
    <div class="container">

        <input class="form-control"
                type="text"
               placeholder="Введите"
               @input="getCandidatesList"
               @focus="getCandidatesList"
               @keyup.esc = "hideDropdown"
               v-model="match"
        />

        <input type="hidden" name="candidate_id" :value="selectedUserID" />

        <div class="dropdown wrapped">
            <ul class="dropdown-menu" :class="{'show': isDropdownOpen, 'd-none': !isDropdownOpen}" >
                <li style="border-bottom: 1px solid lightgray;"
                        v-for="user in users"
                        @click="suggestionClick(user, index)"
                >
                    {{ user.first_name }}&nbsp;
                    {{ user.last_name }}&nbsp;&nbsp;&nbsp;
                    {{ user.phone }}&nbsp;&nbsp;
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                users: [],
                match: '',
                phone: '',
                selectedUserID: null
            }
        },
        mounted() {
            console.log('Component mounted.')
        },
        created() {
            // this.getCandidatesList();
        },
        methods: {
            getCandidatesList: function () {
                let self = this;
                let match = self.match;
                axios.get('/candidates?match=' + match)
                    .then(function (response) {
                        self.users = response.data;
                    })
                    .catch(function (response) {
                        console.log(response)
                    })
            },
            isDropdownOpen: () => {
                return users.length > 0;
            },
            hideDropdown: function(){
                this.users = [];
            },
            suggestionClick: function (user, index) {
                let self = this;
                if ( null !== user.phone ) self.phone = user.phone; else self.phone = '';
                this.match = user.last_name + ' ' + user.first_name  + ' ' + self.phone;
                this.users.length = 0;
                this.selectedUserID = user.id;
            },
            // focusOut: function () {
            //     this.users.length = 0;
            // }
        },
    }
</script>
<style>
ul.dropdown-menu {
    width:100%;
    background-color: #f7f7f7;
    cursor: pointer;
}
.notShowDropdownWhenEmpty {
    background-color: white;
}
</style>