
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//jQuery-ui
@import '~jquery-ui/themes/base/all.css';

//Fontawesome
@import '~@fortawesome/fontawesome-free/css/all.css';

//fullcalendar
@import '~fullcalendar/dist/fullcalendar.css';

//eonasdan-bootstrap-datetimepicker-bootstrap4beta
@import '~tempusdominus-bootstrap-4/src/sass/tempusdominus-bootstrap-4-build';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

label.required:after
{
  color: red;
  content: " *";
}

.little-photo {
  width: 80px;
}